@charset "UTF-8";

*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  list-style: none;

  text-decoration: none;

  /* font-family: 'Josefin Sans', sans-serif; */

}





body {

  font-family: sans-serif;

  background: #C1908B;

}



.container {

  width: 100%;

  margin: auto;

  height: 90vh;

  background: white;

}







.left, .right {

  width: 50%;

  padding: 30px;

}



.flex {

  display: flex;

  justify-content: space-between;

}



.flex1 {

  display: flex;

}



.main_image {

  width: auto;

  height: auto;

}



.option img {

  width: 75px;

  height: 75px;

  padding: 10px;

}



.right {

  padding: 50px 100px 50px 50px;

}



h3 {

  color: #af827d;

  margin: 20px 0 20px 0;

  font-size: 25px;

}



h5,

p,

small {

  color: rgb(94, 94, 94);

}



h4 {

  color: red;

}



p {

  margin: 20px 0 50px 0;

  line-height: 25px;

}



h5 {

  font-size: 15px;

}



label,

.add span,

.color span {

  width: 25px;

  height: 25px;

  background: #000;

  border-radius: 50%;

  margin: 20px 10px 20px 0;

}



.color span:nth-child(2) {

  background: #EDEDED;

}



.color span:nth-child(3) {

  background: #D5D6D8;

}



.color span:nth-child(4) {

  background: #EFE0DE;

}



.color span:nth-child(5) {

  background: #AB8ED1;

}



.color span:nth-child(6) {

  background: #F04D44;

}



.add label,

.add span {

  background: none;

  border: 1px solid #C1908B;

  color: #C1908B;

  text-align: center;

  line-height: 25px;

}



.add label {

  padding: 10px 30px 0 20px;

  border-radius: 50px;

  line-height: 0;

}



button {

  width: 15vh;

  height: 5vh;

  padding: 10px;

  border: none;

  outline: none;

  color: white;

  margin-top: 20%;

  margin-right: 4vh;

  border-radius: 30px;

}





button#button-1 {

  color: #fff;

  background-color: #fa8d00;

  font-size: 17px;

  transition: all 0.3s;

}

button#button-1:hover {

  background-color: #0d2660;

}



@media only screen and (max-width:768px) {

  .container {

    max-width: 90%;

    margin: auto;

    height: auto;

  }



  .left, .right {

    width: 100%;

  }



  .container {

    flex-direction: column;

  }

}



@media only screen and (max-width:511px) {

  .container {

    max-width: 100%;

    height: auto;

    padding: 10px;

  }



  .left, .right {

    padding: 0;

  }



  img {

    width: 100%;

    height: 100%;

  }



  .option {

    display: flex;

    flex-wrap: wrap;

  }

}

input[type=checkbox] + label, input[type=radio] + label {

  margin: 0;

}





.radio_button {

  position: absolute;

  opacity: 0;

}



.block_goodColor {

  margin-top: 29px;

  width: 100%;

}

.block_goodColor__allColors {

  width: 100%;

  margin-top: 14px;

}

.block_goodColor__radio {

  display: inline-block;

  width: 21px;

  height: 21px;

  border-radius: 50%;

  margin-left: 10% !important;

  background-color: #e8e6e3;

  cursor: pointer;

}



.radio_button:checked + .block_goodColor__radio {

  width: 25px;

  height: 25px;

  box-shadow: 0 0 5px 3px rgba(83, 109, 254, 0.5);

  border: 2px solid #fff;

}



.block_goodColor__black {

  background-color: #3c383a;

}



.block_goodColor__silver {

  background-color: silver;

}

.block_goodColor__gold {

  background-color: gold;

}

.block_goodColor__pink {

  background-color: pink;

}





.text_specification {

  padding: 0;

  color: #37474f;

  font-size: 13px;

}



.block_quantity {

  position: relative;

  height: 46px;

  margin-top: 45px;

}

.block_quantity span {

  display: inline-block;

  float: left;

  margin-top: 15px;

  margin-right: 10px;

}

.block_quantity__chooseBlock {

  vertical-align: top;

  height: 100%;

  margin: 0;