@charset "UTF-8";
@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background: #fff; 
    background-size: cover;
    background-position: center;
}

.wrapper {
	width: 370px;
	box-shadow:2px 15px 20px;
	background: #fff;
	border: 2px solid rgb(64, 0, 0);
	border-radius: 10px;
	padding: 30px 30px;
}

.wrapper h1 {
	font-size: 36px;
	text-align: center;
}

.wrapper .input-box {
	position: relative;
	width: 90%;
	height: 50px;
	left:0.30px;
	margin: 20px 8px;
}

.input-box input {
	
	width: 110%;
	height: 100%;
	background: transparent;
	border: none;
	border-radius: 40px;
	font-size: 16px;
	color: #000;
	box-shadow: 1px 1px 1px 1px;
	padding: 20px 45px 20px 20px;
	outline: none;
}

.input-box input::placeholder {
	color: #000000;
	
}

.input-box i {
	position: absolute;
	right: 0.6%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.wrapper .remember-forgot {
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	
	margin: 15px 0 15px;
}

.remember-forgot label input {
	accent-color: #000000;
	margin-right: 3px;
}

.remember-forgot a {
	color: #000000;
	text-decoration: none;
}

.remember-forgot a:hover {
	text-decoration: underline;
}
.wrapper .btn{
	margin-left:18%;
	background: transparent;
	border: 2px solid #000;
	border-radius:45px;
	font-family:"montserrat", sans-serif;
	text-transform:uppercase;
	padding: 15px 10px;
	min-width:200px;
	cursor: pointer;
	
	transition:color 0.4s linear;
	position:relative;
}
.btn:hover{
	background-color:black ;
  transition: 1s;
  color: white;

}
.btn::before{
	content:"";
	position:absolute;
	left: 0;
	top:0;
	width:10%;
	height:100%;
	border-radius: 40px;
	background: #fff;
	z-index: -1;
	transition: transform 0.5s;
	transform:scaleX(0);
	
}
.wrapper .register-link {
	font-size: 14.5px;
	text-align: center;
	margin: 20px 0 15px;
}

.register-link p a {
	color: #000000;
	text-decoration: none;
	font-weight: 600;
}

.register-link p a:hover {
	text-decoration: underline;
	transition: color 0.4s linear;
}



