@charset "UTF-8";

/* CSS styles for the registration form container */
.registration-container {
    width: 600px; /* Set the width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 30px; /* Add some padding inside the container */
    border: 2px solid #ccc; /* Add a border */
    border-radius: 10px; /* Add some border radius */
    background-color: aliceblue; /* Background color */
}

/* CSS styles for the heading */
.registration-heading {
    text-align: center; /* Center the heading text */
}

/* CSS styles for input fields */
.input-field {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}
.submit{
    height: 20px;
    width: 80;
    text-align: right;

}

